.filtersPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
}

.filtersPanel > div {
  width: 25%;
}

.error {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
}

@media only screen
and (max-device-width: 400px) {
  .filtersPanel {
    flex-direction: column;
    padding: 12px;
  }

  .filtersPanel > div {
    width: 100%;
  }
}