.filter > label {
  display: block;
  margin-block-end: 8px;
  color: var(--veryperi);
  font-weight: 500;
}

.filter > select {
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

@media only screen
and (max-device-width: 376px) {
  .filter > select {
    height: 36px;
  }
}