.modalShadow {
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  opacity: 0.5;
}

.modal {
  max-width: 500px;
  max-height: calc(100% - 72px);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 24px;
  transform: translate(-50%, -50%);

  background-color: var(--white);
  border-radius: 16px;
}

.closeIcon {
  position: absolute;
  inset-inline-end: -24px;
  inset-block-start: -24px;
  height: 24px;
  width: 24px; 
  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
}

.closeIcon::before,
.closeIcon::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px; /* cross thickness */
  background-color: var(--white);
}

.closeIcon::before {
  transform: rotate(45deg);
}

.closeIcon::after {
  transform: rotate(-45deg);
}

@media only screen
and (max-device-width: 400px) {
  .modal {
    height: 100%;
    width: 100%;
    border-radius: 0;
    max-height: 100%;
    max-width: 100%;
  }

  .closeIcon {
    inset-inline-end: 12px;
    inset-block-start: 12px;
  }

  .closeIcon::before, .closeIcon::after {
    background-color: var(--gray);
  }
}
